{% extends "base.html" %}
{% block title %} Webdev Journal{% endblock %}
{% block content %}

<h3 class="text-center"> Lumi's Web Dev History</h3>
<br>
<div>
<p class="text-center">
  I've been coding in HTML and CSS since July 2025. <br> This page is my digital journal tracking everything
  I've learned and built since I decided to try WebDev.
</p>
</div>
<br>
<h4 class="mb-4 text-center">Timeline</h4>
<div class="timeline-container">
  <div class="timeline">

    <div class="event">
      <div class="dot"></div>
      <div class="content">
        <h3>July 2025</h3>
          <p>I made a furry website which shows fursuits I'm interested in</p>
      </div>
    </div>
    <div class="event">
      <div class="dot"></div>
      <div class="content">
        <h3>August 2025</h3>
        <p>I made an Anime Review website and a sign up form</p>
      </div>
    </div>

      </div>
    </div>

{% endblock %}
